@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
    background-color: #0E0D12; /* Set a dark background color */
    background-image: radial-gradient(
      at top left,
      rgba(150, 150, 180, 0.15) 0%,
      rgba(10, 10, 10, 0.75) 70%
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
